/* Background of the webapp */
body {
  background: #59886b;
}

/* Navbar Styles */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 0 10%;
}

/* Logo Alignment */
#header {
  display: flex;
  justify-content: center;
}

/* Adjust Size of the Logo */
.crewup-logo {
  height: 3.5rem;
}

/* Normal Buttons */
.btn {
  /* Button colors */
  color: #fff8d9;
  background-color: #eba83a;
  border-color: #eba83a;
  /* Common button styles */
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  /* Button hover styles */
  background-color: #bb371a;
  border-color: #bb371a;
}

/* Aligning Main Heading */
#hero-text {
  display: flex;
  justify-content: center;
  margin: 100px auto 32px auto;
}

/* Main Heading */
#heading {
  display: flex;
  justify-content: center;
  color: #ffc85c;
  font-family: "Readex Pro", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  width: 70%;
  max-width: 1200px;
  margin-bottom: 0;
}

/* Sub heading */
.sub-heading {
  display: flex;
  justify-content: center;
  color: #ffc85c;
  opacity: 0.8;
  font-family: "Readex Pro", sans-serif;
  font-size: 1.375rem;
  font-weight: 200;
  text-align: center;
  max-width: 1600px;
  margin: 0 20;
}

/* Choose Form Section */
.choose-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.choose-form .btn {
  margin: 0 10px;
}

/* Fill documentation section */
#documentation {
  display: flex;
  justify-content: center;
}

/* Fill report section */
.report {
  display: flex;
  justify-content: center;
}

/* All the input fields */
.doc-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

/* Individual input field */
.doc-inputs label {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
  color: #fff8c1;
}

.input-text {
  width: 500px;
  height: 100px;
  vertical-align: top;
}

.custom-textarea {
  /* Styles for a custom textarea */
  height: 1.5rem;
  width: 30rem;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  color: #c05555;
  background-color: #feffde;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

.custom-textarea-md {
  /* Styles for a medium-sized custom textarea */
  height: 3rem;
  width: 30rem;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  color: #c05555;
  background-color: #feffde;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  resize: vertical;
}

.custom-textarea-lg {
  /* Styles for a large-sized custom textarea */
  height: 6rem;
  width: 30rem;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  color: #c05555;
  background-color: #feffde;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  resize: vertical;
}

input[type="date"] {
  /* Styles for date input */
  appearance: none;
  color: #c05555;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #feffde;
  font-size: 1rem;
  padding: 8px;
}

.email-checkbox {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
  color: #fff8c1;
}

.email-section {
  display: flex;
  justify-content: center;
}

.email-input {
  margin-right: 50px;
  width: 23rem;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  color: #c05555;
  background-color: #feffde;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

.email-btn {
  /* Styles for email 'Send' button */
  color: #fff8d9;
  background-color: #eba83a;
  border-color: #eba83a;
  font-weight: 100;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
}

.email-btn:hover {
  background-color: #bb371a;
  border-color: #bb371a;
}

.download-section {
  display: flex;
  justify-content: center;
}

.download-btn {
  /* Styles for a download button */
  color: #fff8d9;
  background-color: #eba83a;
  border-color: #eba83a;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
}

.download-btn:hover {
  /* Styles for the download button on hover */
  background-color: #bb371a;
  border-color: #bb371a;
}
